.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.tab-body {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  height: 200px;
}
.label {
  background-color: red;
}
.error {
  color: red;
  display: block;
  padding-left: 40px;
  font-size: small;
}
