.container {
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.item {
  display: flex; /* Use flexbox for the icon and text container */
  align-items: center; /* Align items vertically in the center */
}
